<table class="content_table">
        <tr class="board_row" *ngFor="let board of this.boards">
            <div class="board_item">
                <a routerLink="board"><h2 class="tr_name">{{board.title}}</h2></a>
                <div class="alert">
                    <p class="alert_number">3</p>
                </div>
            </div>
        </tr>
        <!-- <tr class="board_row">
            <div class="board_item">
                <h2 class="tr_name">Work</h2>
                <div class="alert">
                    <p class="alert_number">2</p>
                </div>
            </div>
        </tr>
        <tr class="board_row">
            <div class="board_item">
                <h2 class="tr_name">Startup</h2>
                <div class="alert">
                    <p class="alert_number">5</p>
                </div>
            </div>
        </tr>
        <tr class="board_row">
            <div class="board_item">
                <h2 class="tr_name">Office</h2>
                <div class="alert">
                    <p class="alert_number">10</p>
                </div>
            </div>
        </tr>
        <tr class="board_row">
            <div class="board_item">
                <h2 class="tr_name">Kids</h2>
                <div class="alert">
                    <p class="alert_number">7</p>
                </div>
            </div>
        </tr>
        <tr class="board_row">
            <div class="board_item">
                <h2 class="tr_name">Weekend chores</h2>
                <div class="alert">
                    <p class="alert_number">4</p>
                </div>
            </div>
        </tr>
        <tr class="board_row">
            <div class="board_item">
                <h2 class="tr_name">Parents</h2>
                <div class="alert">
                    <p class="alert_number">1</p>
                </div>
            </div>
        </tr>
        <tr class="board_row">
            <div class="board_item">
                <h2 class="tr_name">Other</h2>
            </div>
        </tr> -->
    </table>