<div id="main_body">
    <div id="content">
        <div id="boards_section" class="content_holder">
            <h1 class="section_label">Boards:</h1>
            <div id="boards" class="content">
                <table class="content_table">
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Chores</h2>
                            <div class="alert">
                                <p class="alert_number">3</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Work</h2>
                            <div class="alert">
                                <p class="alert_number">2</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Startup</h2>
                            <div class="alert">
                                <p class="alert_number">5</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Office</h2>
                            <div class="alert">
                                <p class="alert_number">10</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Kids</h2>
                            <div class="alert">
                                <p class="alert_number">7</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Weekend chores</h2>
                            <div class="alert">
                                <p class="alert_number">4</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Parents</h2>
                            <div class="alert">
                                <p class="alert_number">1</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Other</h2>
                            <!-- <div class="alert"> -->
                                <!-- <p class="alert_number">3</p> -->
                            <!-- </div> -->
                        </div>
                    </tr>
                </table>
            </div>
        </div>
        <div id="feed_section" class="content_holder">
            <h1 class="section_label">Notifications:</h1>
            <div id="boards" class="content">
                <table class="content_table">
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">You've been assigned to task: placeholder</h2>
                            <div class="alert">
                                <p class="alert_number">!</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Work</h2>
                            <div class="alert">
                                <p class="alert_number">!</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Startup</h2>
                            <div class="alert">
                                <p class="alert_number">!</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Office</h2>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
        <div id="tasks_section" class="content_holder">
            <h1 class="section_label">Your tasks:</h1>
            <div id="boards" class="content">

            </div>
        </div>
    </div>
</div>
