<div id="main_body">
    <div id="content">
        <div id="boards_section" class="content_holder">
            <h1 class="section_label">Boards:</h1>
            <div id="boards" class="content">
                <table class="content_table">
                    <tr class="board_row">
                        <td>
                            sadf
                        </td>
                    </tr>
                    <tr class="board_row">
                        <td>
                            sadf
                        </td>
                    </tr>
                    <tr class="board_row">
                        <td>
                            sadf
                        </td>
                    </tr>
                    <tr class="board_row">
                        <td>
                            sadf
                        </td>
                    </tr>
                    <tr class="board_row">
                            <td>
                                sadf
                            </td>
                        </tr>
                        <tr class="board_row">
                                <td>
                                    sadf
                                </td>
                            </tr>
                            <tr class="board_row">
                                    <td>
                                        sadf
                                    </td>
                                </tr>
                                <tr class="board_row">
                                        <td>
                                            sadf
                                        </td>
                                    </tr>
                </table>
            </div>
        </div>
        <div id="feed_section" class="content_holder">
            <h1 class="section_label">Notifications:</h1>
            <div id="boards" class="content">

            </div>
        </div>
        <div id="tasks_section" class="content_holder">
            <h1 class="section_label">Your tasks:</h1>
            <div id="boards" class="content">

            </div>
        </div>
    </div>
</div>
