<div id="main_body">
    <div id="content">
        <div id="boards_section" class="content_holder">
            <h1 class="section_label">Boards:</h1>
            <div id="boards" class="content">
                <app-board-list></app-board-list>
            </div>
        </div>
        <div id="feed_section" class="content_holder">
            <h1 class="section_label">Notifications:</h1>
            <div id="boards" class="content">
                <table class="content_table">
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">You've been assigned to task: placeholder</h2>
                            <div class="alert">
                                <p class="alert_number">!</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Alice D created task placeholder</h2>
                            <div class="alert">
                                <p class="alert_number">!</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Alice D added you to board Chores</h2>
                            <div class="alert">
                                <p class="alert_number">!</p>
                            </div>
                        </div>
                    </tr>
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Welcome!</h2>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
        <div id="tasks_section" class="content_holder">
            <h1 class="section_label">Your tasks:</h1>
            <div id="boards" class="content">
                <table class="content_table">
                    <tr class="board_row">
                        <div class="board_item">
                            <h2 class="tr_name">Placeholder on board Chores</h2>
                            <div class="alert">
                                <p class="alert_number">!</p>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
