<form [formGroup]="loginForm" id="login_form">
    <label>
        E-mail:
    </label>
    <input class="text_like_input" formControlName="email" />
    <div class="input_message" *ngIf="email.invalid && email.touched">Email is invalid</div>
    <label>
        Password:
    </label>
    <input class="text_like_input" type="password" formControlName="password" />
    <div class="input_message" *ngIf="password.invalid && password.touched">Password is invalid</div>
    <input value="Log in" type="submit" class="button_like_input" />
</form>
