<div id="main_body">
    <div id="forms_holder">
        <div class="form_holder">
            <form id="login_form">
                <label>
                    E-mail:
                </label>
                <input type="text" class="text_like_input" />
                <label>
                    Password:
                </label>
                <input type="password" class="text_like_input" />
                <input value="Log in" type="submit" class="button_like_input" />
            </form>
        </div>
        <div></div>
        <div class="form_holder">

        </div>
    </div>
</div>