<div id="main_body">
    <div id="forms_holder">
        <div class="form_holder">
            <h1 class="holder_label">Log in</h1>
            <form id="login_form">
                <label>
                    E-mail:
                </label>
                <input type="text" class="text_like_input" #emailLog />
                <label>
                    Password:
                </label>
                <input type="password" class="text_like_input" #passwordLog />
                <input value="Log in" type="submit" class="button_like_input" *ngIf="loginSubmition(emailLog, passwordLog) == true" (click) = "loginSubmition(emailLog, passwordLog)" />
                <input value="Log in" type="submit" class="button_like_input" *ngIf="loginSubmition(emailLog, passwordLog) != true" (click) = "loginSubmition(emailLog, passwordLog)" />
            </form>
        </div>
        <div></div>
        <div class="form_holder">
            <h1 class="holder_label">Register</h1>
            <form id="register_form">
                <label>
                    E-mail:
                </label>
                <input type="text" class="text_like_input" #emailReg />
                <label>
                    Password:
                </label>
                <input type="password" class="text_like_input" #passwordReg />
                <label>
                    Confirm Password:
                </label>
                <input type="password" class="text_like_input" #confirmPassword />
                <input value="Register" type="submit" class="button_like_input" *ngIf="registerSubmition(emailReg, passwordReg, confirmPassword) == true"  (click) = "registerSubmition(emailReg, passwordReg, confirmPassword)" />
                <input value="Register" type="submit" class="button_like_input" *ngIf="registerSubmition(emailReg, passwordReg, confirmPassword) != true"  (click) = "registerSubmition(emailReg, passwordReg, confirmPassword)" />
            </form>
            <!-- <div></div> -->
        </div>
    </div>
</div>